
<ion-header-bar align-title="center" class="bar-light">
  <div class="buttons">
    <button class="button button-icon ion-ios-arrow-left"></button>
    <h1 class="title">美丽护肤</h1>
  </div>
</ion-header-bar>
<ion-pane ng-controller="listController">
    <ion-content
      direction="y"
      scrollbar-y="false"
      has-bouncing="true"
      scroll-event-interval="30"
      class="list-content"
    >
      <ul class="list row row-top" ng-repeat="obj in livelist">
        <li class="col item" ng-repeat="con in obj">
          <img ng-src="{{con.default_image}}"/>
          <div class="productName">{{con.goods_name}}</div>
          <div class="price"><span>{{con.Price | currency:'￥':0}}<span><a>{{con.scPrice | currency:'￥':0}}</a></div>
        </li>
      </ul>
    </ion-content>
</ion-pane>